{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "restParams": true,
    "blockBindings": true,
    "forOf": true,
    "jsx": true,
    "modules": true,
    "classes": true,
    "arrowFunctions": true,
    "defaultParams": true,
    "destructuring": true,
    "generators": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "superInFunctions": true,
    "templateStrings": true
  },
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "double"],
    "eqeqeq": [2, "smart"],
    "no-else-return": 2
  },
  "env": {
    "browser": true,
    "node": true
  }
}
