.article-content {
    font-size: 16px;
}

.article-content figure {
    max-width: 100%;
    text-align: center;
}

.article-content figure * {
    border: none;
}

.article-content iframe {
    border: none;
    height: 600px;
    width: 800px;
}

.article-content p iframe,
.article-content p img.mce-object-iframe {
    height: 600px;
    width: 800px;
    margin: -16px -44px;
}

.article-content img:note(.mce-object-iframe) {
    max-width: 100%;
    height: auto;
}

.article-content img:not(.mce-object-iframe)[width] {
    max-width: 100%;
    height: auto;
}

.article-content p img:not(.mce-object-iframe):only-child {
    max-width: calc(100% + 88px);
    margin: -16px -44px;
}

.article-content > * {
    padding-bottom: 20px;
    text-align: justify;
}

.article-content p,
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content blockquote,
.article-content ul,
.article-content ol {
    padding: 16px 44px;
}

.article-content a {
    color: #E9B32D;
}