.article-content {
    font-size: 18px;
}

.article-content figure {
    max-width: 100%;
    text-align: center;
}

.article-content figure * {
    border: none;
}

.article-content figure iframe {
    margin: 0 -44px;
}

.article-content iframe {
    border: none;
    height: 600px;
    width: 800px;
}

.article-content p iframe,
.article-content p img.mce-object-iframe {
    height: 600px;
    width: 800px;
}

.article-content img:note(.mce-object-iframe) {
    max-width: 100%;
    height: auto;
}

.article-content img:not(.mce-object-iframe)[width] {
    max-width: 100%;
    height: auto;
}

.article-content p img:not(.mce-object-iframe):only-child {
    max-width: calc(100% + 88px);
    margin: 0 -44px;
}

.article-content > * {
    text-align: justify;
}

.article-content p,
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content blockquote,
.article-content ul,
.article-content ol,
.article-content figure {
    padding: 8px 44px;
    margin: 0 auto;
}

.article-content p,
.article-content blockquote,
.article-content ul,
.article-content ol {
    line-height: 27px;
}

.article-content li {
    position: relative;
    padding: 8px 0;
}

.article-content ul li:before {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #E9B32D;
    left: -20px;
    top: 17px;
}

.article-content ul li:only-of-type {
    padding: 0;
}

.article-content ul li:first-child:before {
    top: 9px;
}

.article-content li:first-child {
    padding: 0 0 8px 0;
}

.article-content li:last-child {
    padding: 8px 0 0 0;
}

.article-content ul {
    list-style: none;
}

.article-content ol li:before {
    content: "";

}

.article-content blockquote {
    position: relative;
    color: #888888;
    font-style: italic;
}

.article-content blockquote:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 24px;
    width: 6px;
    margin: 8px 0 8px 0;
    height: calc(100% - 16px);
    background-color: #E9B32D;
}

.article-content blockquote > *:first-child {
    padding: 0 0 8px 0;
}

.article-content blockquote > * {
    padding: 8px 0;
}

.article-content blockquote > *:last-child {
    padding: 8px 0 0 0;
}

.article-content a {
    color: #E9B32D;
}