.article-content {
    font-family:
    "PingFang SC",
    "Lantinghei SC",
    "Microsoft Yahei",
    "Hiragino Sans GB",
    "Microsoft Sans Serif",
    "WenQuanYi Micro Hei",
    sans-serif;
}

.article-content {
    font-size: 18px;
}

.article-content figure {
    max-width: 100%;
    text-align: center;
}

.article-content figure * {
    border: none;
}

.article-content > * iframe {
    margin: 0 -44px;
}

.article-content iframe {
    border: none;
    height: 500px;
    width: 800px;
}

.article-content p iframe,
.article-content p object,
.mce-object,
.mce-object-iframe {
    margin: 0 -44px !important;
    height: 500px;
    width: 800px;
    border: none;
}

.mce-object-iframe iframe {
    margin: 0 !important;
}

.article-content img:not(.mce-object),
.article-content p img:not(.mce-object):only-child,
.article-content img:not(.mce-object)[width] {
    max-width: calc(100% + 88px);
    margin: 0 -44px;
    height: auto;
}

.article-content img[width="750"] {
    margin: 0 -19px !important;
}

.article-content img[width=800] {
    margin: 0 -44px !important;
}

.article-content > * {
    text-align: justify;
}

.article-content h1 {
    font-size: 36px;
    font-weight: bold;
}

.article-content p,
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content blockquote,
.article-content ul,
.article-content ol,
.article-content figure {
    padding: 8px 44px;
    margin: 0 auto;
}

.article-content p:after {
    content: " ";
    display: block;
    clear: both;
}

.article-content p,
.article-content blockquote,
.article-content ul,
.article-content ol {
    line-height: 27px;
}

.article-content li {
    position: relative;
    padding: 2px 0;
}

.article-content ul li:before {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #E9B32D;
    left: -20px;
    top: 13px;
}

.article-content ul li:only-of-type {
    padding: 0;
}

.article-content ul li:first-child:before {
    top: 11px;
}

.article-content li:first-child {
    padding-top: 0;
}

.article-content li:last-child {
    padding-bottom: 0;
}

.article-content ul {
    list-style: none;
}

.article-content blockquote {
    position: relative;
    color: #888888;
    font-style: italic;
}

.article-content blockquote:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 24px;
    width: 6px;
    margin: 8px 0 8px 0;
    height: calc(100% - 16px);
    background-color: #E9B32D;
}

.article-content blockquote > *:first-child {
    padding: 0 0 8px 0;
}

.article-content blockquote > * {
    padding: 8px 0;
}

.article-content blockquote > *:last-child {
    padding: 8px 0 0 0;
}

.article-content a {
    color: #E9B32D;
}
