@import url("font-awesome/css/font-awesome.css");
@import url("react-toggle/style.css");
@import url("react-selectize/src/index.css");
@import url("reset.css");
@import url("article-content.css");
@import url("portal.css");
@import url("manage.css");
@import url("tinymce.css");

.wrapper {
    overflow-x: hidden;
}

main {
    margin-bottom: 64px;
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn,
a.btn {
    border: 0;
    font-size: 14px;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #2DD982;
    display: inline-block;
    color: white;
    text-align: center;
}

.react-toggle-thumb {
    box-shadow: none !important;
}
