:root {
    --exound-orange: #E9B32D;
    --exound-gray: #444444;
    --exound-bg-black: #2A2A2A;
    --exound-black: #2E363B;
}

.full-bg:before,
.sub.menu.full-bg > ul:before {
    z-index: -2;
    content: " ";
    display: block;
    height: 64px;
    position: absolute;
    width: 10000px;
    margin-left: -5000px;
    background-color: var(--exound-bg-black);
    box-shadow: 0px -1px 0px var(--exound-gray); 
}

@custom-selector :--top .wrapper header.top;

:--top {
    margin-left: 50%;
    left: -600px;
    width: 1200px;
    font-weight: 600;
    text-align: center;
    background-color: black;
    position: relative;
}

:--top h1.center a {
    color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-image: url(~!file!../images/logo.png);
}

:--top * {
    color: white;
    background-color: var(--exound-bg-black);
}

:--top > * {
    height: 64px;
}

:--top .menu .item:hover {
    color: var(--exound-orange);
}

:--top .left,
:--top .right {
    position: absolute;
    top: 0;
}

:--top .left {
    left: 0;
}

:--top .right {
    right: 0;
}

:--top > h1 {
    line-height: 64px;
}

@custom-selector :--menu-ul .wrapper header.top .menu > ul;

:--menu-ul {
    display: flex;
    flex-flow: row wrap;
}

:--menu-ul > li {
    height: 64px;
}


@custom-selector :--sub-menu .wrapper header.top .menu.sub;

:--sub-menu > ul {
    display: none;
    z-index: 12;
}

:--sub-menu:hover > ul {
    display: flex;
    position: absolute;
    box-shadow: 0px -1px 0px var(--exound-gray); 
}

@custom-selector :--menu-li .wrapper header.top > .main.menu > ul > li;

:--menu-li > .item {
    line-height: 64px;
    padding: 0 16px 0 16px;
    border-left: 1px solid var(--exound-gray);
}

:--menu-li > .item a:hover {
    color: var(--exound-orange);
}

:--menu-li:last-child {
    border-right: 1px solid var(--exound-gray);
}

:--menu-li .sub.menu > ul {
    width: 1200px;
    left: 0;
}

:--menu-li .sub.menu > ul > li {
    font-weight: 400;
    margin-left: 32px;
}

:--menu-li .sub.menu > ul > li:first-child {
    margin-left: 16px;
}

@custom-selector :--user-menu .wrapper header.top > .user.menu;

:--user-menu {
    border-left: 1px solid var(--exound-gray);
    border-right: 1px solid var(--exound-gray);
}

:--user-menu .content {
    padding: 16px;
}

:--user-menu .content .avatar {
    border-radius: 16px;
    display: block;
    height: 32px;
    width: 32px;
}

:--user-menu ul {
    flex-flow: column wrap;
    right: 0;
}

:--user-menu ul > li {
    position: relative;
    padding-right: 24px;
    padding-left: 32px;
    line-height: 64px;
    border-bottom: 1px solid var(--exound-gray);
}

:--user-menu ul > li .item {
    text-align: right;
}

:--user-menu ul > li .item a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

:--user-menu ul > li .item a:hover div {
    color: var(--exound-orange);
}

:--user-menu ul > li .item a div {
    width: auto;
    white-space: nowrap;
}

:--user-menu ul > li i.fa {
    line-height: 64px;
    width: 16px;
    color: #888888;
    margin-left: 24px;
}

@custom-selector :--main .wrapper > main;

:--main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

@custom-selector :--upper .wrapper .upper;

:--upper {
    width: 100%;
    height: 450px;
}

@custom-selector :--promotions .wrapper .top-promotions;

:--promotions {
    width: 100%;
    overflow: hidden;
    text-align: center;
    transition: background-image 2s;
    background-size: cover;
    background-position: center;
    position: relative;
}

:--promotions .promotions {
    display: block;
    width: 100%;
    height: 450px;
}

:--promotions .promotions * {
    color: white;
    text-shadow: 1px 0px 4px black;
}

:--promotions .promotions {
    text-shadow: 0 0 2px grey;
}

:--promotions .dots {
    position: absolute;
    width: 130px;
    right: calc(50% - 560px);
    text-align: right;
    bottom: 44px;
}

:--promotions .dots button {
    border: 3px solid white;
    margin-left: 10px;
    cursor: pointer;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    background-color: transparent;
    transition: all .8s;
}

:--promotions .dots button.active {
    border-color: orange;
    background-color: orange;
    transition: all .8s;
}

@custom-selector :--main-body .wrapper main .body;

:--main-body {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1200px;
    margin-top: 30px;
}

@custom-selector :--main-left .wrapper main .body .left;

:--main-left {
    background-color: white;
    width: 835px;
    height: auto;
}

@custom-selector :--articles .wrapper main .articles;

:--articles .article {
    position: relative;
    box-sizing: border-box;
    padding: 40px 60px;
    height: 300px;
    border-top: 1px solid #DDDDDD;
}

:--articles .article:first-child {
    border: none;
}

:--articles .article h1.title a {
    line-height: 40px;
    color: var(--exound-black);
    font-size: 24px;
}

:--articles .article .content {
    width: 400px;
    height: 180px;
    overflow: hidden;
}

:--articles .article.nocover .content {
    width: 720px;
}

:--articles .article .publish {
    margin: 16px 0;
}

:--articles .article .publish time {
    color: #888888;
}

:--articles .article .excerpt {
    text-align: justify;
}

:--articles .article .cover {
    position: absolute;
    height: 225px;
    width: 300px;
    right: 36px;
    bottom: 40px;
}

:--articles .article .category:before {
    font-size: 16px;
    font-weight: 100;
}

:--articles .article .category {
    position: absolute;
    font-size: 16px;
    font-weight: 800;
    bottom: 40px;
}

:--articles .article .category a {
    color: var(--exound-black);
}


:--articles .article .category:before {
    color: var(--exound-orange);
    font-size: 20px;
    margin-right: 8px;
}

:--articles .article a.user {
    color: var(--exound-orange);
}

@custom-selector :--portal-sidebar .wrapper main .sidebar;

:--portal-sidebar > * {
    margin-top: 20px;
    box-sizing: border-box;
    width: 345px;
    background-color: white;
}

:--portal-sidebar > *:first-child {
    margin-top: 0;
}

:--portal-sidebar .advertisement a {
    line-height: 0;
    display: block;
}

:--portal-sidebar .advertisement img {
    width: 345px;
}

@custom-selector :--load-more .wrapper main .load-more;

:--load-more {
    text-align: center;
    width: 835px;
}

:--load-more button {
    border-radius: 2px;
    font-size: 18px;
    width: 100%;
    height: 64px;
    color: white;
    border: none;
    background-color: var(--exound-orange);
}

@custom-selector :--bottom .wrapper footer.bottom;

:--bottom {
    position: relative;
    margin-left: 50%;
    left: -600px;
    height: 100px;
    line-height: 80px;
    width: 1200px;
    background-color: var(--exound-bg-black);
    color: white;
}

:--bottom.full-bg:before {
    height: 100px;
}

@custom-selector :--category-name .wrapper main.category-page h1.category-name;
@custom-selector :--profile-nick .wrapper main.profile-page h1.profile-nick;

:--profile-nick,
:--category-name {
    color: var(--exound-orange);
}

@custom-selector :--article .wrapper main .article.left;
@custom-selector :--article-header .wrapper main .article.left header;
@custom-selector :--article-content .wrapper main .article.left .article-content;
@custom-selector :--article-claim .wrapper main .article.left .copyright-claim;

:--article {
    background-color: transparent;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 200px;
}

:--article .cover {
    width: 835px;
    height: 450px;
    background-color: #CCCCCC;
}

:--article-content,
:--article-header {
    background-color: white;
}

:--article-content {
    padding: 0 16px;
    padding-bottom: 40px;
}

:--article-header a {
    color: var(--exound-orange);
}

:--article-header {
    position: relative;
    padding: 40px 60px;
}

:--article-header .share {
    position: absolute;
    right: 60px;
    bottom: 40px;
}

:--article-header .share > * {
    margin-left: 8px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
    border-radius: 16px;
    border: 1px solid black;
}

:--article-header .share .weibo {
    border-color: #EB6625;
    color: #EB6625;
}

:--article-header .share .weixin {
    position: relative;
    border-color: #7BC549;
    color: #7BC549;
}

:--article-header .share .weixin .qrcode {
    color: var(--exound-gray);
    position: absolute;
    display: none;
    background-color: white;
    top: -190px;
    left: -64px;
    height: 180px;
    width: 160px;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0px 0px 8px #888888;
}

:--article-header .share .weixin:hover .qrcode {
    display: block;
}

:--article-header .share .weixin .qrcode div {
    padding: 8px 0;
}

:--article-header .share .weixin .qrcode:after {
    content: " ";
    position: absolute;
    bottom: -8px;
    left: 68px;
    border-top: 10px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 0;
    width: 0;
}

:--article-header h1 {
    margin: 40px 0;
    font-size: 28px;
    margin-bottom: 32px;
}

:--article-claim {
    border-top: 1px solid #EEEEEE;
    background-color: white;
    padding: 20px 64px;
}

:--article-claim span {
    background-color: var(--exound-orange);
    padding: 4px 8px;
}

@custom-selector :--comment-box .wrapper main .article.left .comment-box;
@custom-selector :--comment .wrapper main .article.left .comment;

:--comment-box {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    background-color: white;
}

:--comment-box a {
    color: var(--exound-orange);
}

:--comment {
    display: flex;
    flex-flow: row nowrap;
    padding: 32px 0;
    border-bottom: 1px solid #EEEEEE;

}

:--comment:first-child {
    padding-top: 0;
}

:--comment:last-child {
    border-bottom: 0;
}

:--comment .avatar {
    box-sizing: border-box;
    margin-right: 20px;
    height: 48px;
    width: 48px;
    background-size: contain;
    border-radius: 24px;
    background-repeat: no-repeat no-repeat;
}

:--comment .right {
    display: flex;
    flex-flow: column wrap;
    width: 688px;
}

:--comment .right textarea {
    font-size: 16px;
    resize: none;
    border: none;
    height: 96px;
    width: 688px;
    display: block;
}

:--comment .right textarea::placeholder {
    color: #DDDDDD;
}

:--comment .actions {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

:--comment .actions .tip {
    font-style: italic;
    font-size: 14px;
    line-height: 36px;
    color: #CCCCCC;
}

:--comment .actions .btn {
    background-color: #5C5D5E;
    width: 128px;
}

:--comment .user {
    font-weight: 800;
    font-size: 18px;
    color: var(--exound-black);
}

:--comment .user:hover {
    color: var(--exound-orange);
}

:--comment .publish {
    font-size: 14px;
    color: #CCCCCC;
    margin: 4px 0;
}

:--comment .content {
    font-size: 16px;
    text-align: justify;
    color: var(--exound-gray);
}

@custom-selector :--review-sidebar main aside.review.sidebar;

:--review-sidebar .chart .price {
    box-sizing: border-box;
    padding: 12px;
    font-size: 18px;
    font-weight: 800;
    margin-top: -4px;
    color: white;
    text-align: center;
    background-color: var(--exound-bg-black);
}

:--review-sidebar .sales {
    position: relative;
}

:--review-sidebar .sales .sellers {
    display: flex;
    flex-flow: row wrap;
}

:--review-sidebar .sales .seller {
    text-align: center;
    box-sizing: border-box;
    width: 115px;
    padding: 25px;
}

:--review-sidebar .sales h2 {
    padding: 16px;
    border-bottom: 1px solid #EEEEEE;
}

:--review-sidebar .sales .seller .name {
    position: relative;
    top: 8px;
    color: var(--exound-black);
    font-weight: 600;
}

:--review-sidebar .sales .seller .name:hover {
    color: var(--exound-orange);
}

:--review-sidebar .sales .seller .logo {
    box-sizing: border-box;
    height: 64px;
    width: 64px;
    background-color: #CCCCCC;
    background-size: contain;
    border-radius: 32px;
    background-position: center;
    background-repeat: no-repeat no-repeat;
}

:--review-sidebar .sales canvas {
    border-top: 1px solid #EEEEEE;
    padding: 64px;
    margin: 20px 44px 40px 44px;
}

:--review-sidebar .sales .scan-text {
    width: 100%;
    position: absolute;
    bottom: 50px;
    text-align: center;
}

@custom-selector :--upper-reviews .wrapper .upper .reviews;

:--upper-reviews {
    position: absolute;
    border-radius: 4px;
    top: 164px;
    right: 50%;
    transform: translateX(600px);
    height: 240px;
    width: 345px;
    overflow: hidden;
    background-color: RGBA(42, 42, 42, 0.8);
}

:--upper-reviews .more {
    font-size: 16px;
    line-height: 40px;
    color: var(--exound-gray);
    background-color: var(--exound-orange);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

:--upper-reviews .review:not(.active) {
    background-color: RGBA(42, 42, 42, 0.8);
    padding: 13px;
    border-bottom: 1px solid #888888;
    box-sizing: border-box;
    transition: padding .4s;
}

:--upper-reviews .review.active {
    padding: 40px 13px;
    border-bottom: 0;
    transition: padding .4s;
}

:--upper-reviews .review.active:last-child {
    border-bottom: 0;
}

:--upper-reviews .review * {
    color: white;
}

:--upper-reviews .review h2 {
    text-align: left;
    font-size: 16px;
}

:--upper-reviews .review h2 a {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

:--upper-reviews .review .meta {
    display: flex;
    justify-content: space-between;
    height: 0;
    overflow: hidden;
    font-size: 14px;
    transition: height .4s;
}

:--upper-reviews .review.active .meta {
    margin-top: 14px;
    height: 20px;
    transition: height .4s;
}

@custom-selector :--sidebar-briefings main aside.sidebar .briefings;

:--sidebar-briefings header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;
    border-bottom: 1px solid #EEEEEE;
}

:--sidebar-briefings header .more {
    font-size: 14px;
    color: var(--exound-gray);
}

:--sidebar-briefings ul li {
    font-size: 14px;
    border-bottom: 1px solid #EEEEEE;
    padding: 8px 16px;
}

:--sidebar-briefings ul li:last-child {
    border-bottom: none;
}

:--sidebar-briefings ul li .briefing .title a {
    text-align: justify;
    color: var(--exound-gray);
}

:--sidebar-briefings ul li .briefing .user {
    font-size: 12px;
    color: var(--exound-orange);
}

:--sidebar-briefings ul li .briefing time {
    font-size: 12px;
    color: #CCCCCC;
}

@custom-selector :--briefing main.briefings-page .left .briefing.item;

:--briefing {
    padding: 16px 32px;
    border-bottom: 1px solid #EEEEEE;
}

:--briefing h1 {
    margin-bottom: 16px;
}

:--briefing .title a {
    color: var(--exound-gray);
}

:--briefing .user {
    color: var(--exound-orange);
}

:--briefing time {
    color: #CCCCCC;
}